<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>mywebapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
	<param-name>myContextParam</param-name>
	<param-value>1234</param-value>
	</context-param>
	
	<servlet>
	<servlet-name>seeAllEmployeeJspForm</servlet-name>
	<jsp-file>/seeAllEmployeeJspForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>seeAllEmployeeJspForm</servlet-name>
	<url-pattern>/seeAllEmployeeJspForm</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>updateEmpJspForm</servlet-name>
	<jsp-file>/updateEmpJspForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>updateEmpJspForm</servlet-name>
	<url-pattern>/updateEmpJspForm</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>addEmpJspForm</servlet-name>
	<jsp-file>/addEmpJspForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>addEmpJspForm</servlet-name>
	<url-pattern>/addEmpJsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>deleteEmpJspForm</servlet-name>
	<jsp-file>/deleteEmpJspForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>deleteEmpJspForm</servlet-name>
	<url-pattern>/deleteEmpJspForm</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>homePageJsp</servlet-name>
	<jsp-file>/homePageJsp.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>homePageJsp</servlet-name>
	<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
	<servlet-name>searchEmpJspForm</servlet-name>
	<jsp-file>/searchEmpJspForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>searchEmpJspForm</servlet-name>
	<url-pattern>/searchEmpJspForm</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>loginFormJsp</servlet-name>
	<jsp-file>/loginFormJsp.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>loginFormJsp</servlet-name>
	<url-pattern>/loginForm</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
	<servlet-name>currentDate</servlet-name>
	<servlet-class>com.capgemini.mywebapp.services.DateServlet</servlet-class>
	<init-param>
	<param-name>myconfigParam</param-name>
	<param-value>Hello</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	<servlet-name>currentDate</servlet-name>
	<url-pattern>/currentDate</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	
	<servlet-name>getEmpl</servlet-name>
	<servlet-class>com.capgemini.mywebapp.servlets.GetEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>getEmpl</servlet-name>
	<url-pattern>/getEmpl</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>searchEmpl</servlet-name>
	<servlet-class>com.capgemini.mywebapp.servlets.SearchEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>searchEmpl</servlet-name>
	<url-pattern>/searchEmpl</url-pattern>
	</servlet-mapping>
	
	
</web-app>